{% extends '../../layout.server.view.html' %}

{% block content %}
<div class="row ">
    <div class="col-md-12">
        <div class="title-branded">
            <h3 style="display: inline">Tables</h3><a href="/search/form" class="btn btn-primary btn-xs pull-right">more...</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        {% include "samples/login_form.html" %}
    </div>
    <div class="col-md-7">
        {% include "samples/login_form.html" %}
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        {% include "samples/disabled_form.html" %}
    </div>
    <div class="col-md-7">
        {% include "samples/state_colors_form.html" %}
    </div>
</div>
{% endblock %}