{% extends 'layout.server.view.html' %}

{% block content %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>Gallery of HTML5 components</h1>
	<p>Based on Twitter Bootstrap framework, ready to copy paste to your project</p>
	<p>LESS, GRUNT enabled</p>
	<p>RTL support included</p>
	<!--
	<p class="pull-right">
		<a class="btn btn-lg btn-info" href="/search" role="button">Github &raquo;</a>
	</p>
	-->
	<p>Use this project to start your own BS customization and enhancements</p>

	<div><div>
		<a class="btn btn-lg btn-primary" href="/search" role="button">Search examples &raquo;</a>&nbsp;&nbsp;
		{% for mm in menu.top %}
		<a href="/{{mm.id}}" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-{{mm.icon}}"></i> {{mm.id}}</a>&nbsp;&nbsp;
		{% endfor %}
	</div></div>
</div>


{% endblock %}
